Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
.deps/
.libs/
*.lo
*.o
*.la
tests/json-tokenizer-test
*.swp
*.swo
tests/json-tokenizer-fail-test
tests/json-tokenizer-partial-test
tests/json-tree-test
tests/json-tree-printer-test

build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-9c9b406d7b21ceff1655.json
build/.cmake/api/v1/reply/codemodel-v2-94397b0388a998bfc33c.json
build/.cmake/api/v1/reply/index-2021-01-05T05-58-34-0368.json
build/.cmake/api/v1/reply/target-01_simple_struct-Debug-23b903c0db7a42dd8978.json
build/.cmake/api/v1/reply/target-02_alias-Debug-726d1b973496ead7f0ff.json
build/.cmake/api/v1/reply/target-03_optional_types-Debug-fc87a4edd343f1bd81c0.json
build/.cmake/api/v1/reply/target-04_subclasses-Debug-94945e4a1948fb20663b.json
build/.cmake/api/v1/reply/target-05_enums-Debug-3ed1f0f45ac9566c8906.json
build/.cmake/api/v1/reply/target-06_stdtypes-Debug-c5c2e103a5df7a080146.json
build/.cmake/api/v1/reply/target-07_custom_types-Debug-0a99b244afa3bdc0576b.json
build/.cmake/api/v1/reply/target-08_nested_types-Debug-eee7ec57c2c6071bca28.json
build/.cmake/api/v1/reply/target-09_simple_tokenize-Debug-dc94482905895c81051e.json
build/.cmake/api/v1/reply/target-10_calling_functions-Debug-6c17d8d338d4795ca79f.json
build/.cmake/api/v1/reply/target-11_simple_diff-Debug-1abb5cc82ec1ff137e6e.json
build/.cmake/api/v1/reply/target-12_diff_missing_data-Debug-41219347566b9acdcf75.json
build/.cmake/api/v1/reply/target-benchmark-Debug-ad7a51a191504bd7a8ec.json
build/.cmake/api/v1/reply/target-catch_main_benchmark-Debug-eaf3f196947e5b509642.json
build/.cmake/api/v1/reply/target-catch_main-Debug-7363b8a55fb2d91a991f.json
build/.cmake/api/v1/reply/target-clangformat_tests-Debug-2111668d9fc0d1466f2b.json
build/.cmake/api/v1/reply/target-clangformat-Debug-ea3eebd10faf3f812d6c.json
build/.cmake/api/v1/reply/target-external_json_resources-Debug-f79217bdbe4782927ec2.json
build/.cmake/api/v1/reply/target-reformat-Debug-bc70c8330a6dfb8dabd8.json
build/.cmake/api/v1/reply/target-unit-tests-cxx17-Debug-adb84b10351ca53e4da1.json
build/.cmake/api/v1/reply/target-unit-tests-Debug-dc8e4a09cfe0d5e897d3.json
build/.cmake/api/v1/reply/target-zero-value-test-fp-default-Debug-007a65352d5f62c09010.json
build/.cmake/api/v1/reply/target-zero-value-test-fp-fast-Debug-f56ececd467f676bdbbb.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.4/CMakeCCompiler.cmake
build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.4/CMakeSystem.cmake
build/CMakeFiles/3.18.4/CompilerIdC/a.out
build/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.4/CompilerIdCXX/a.out
build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/clangformat.dir/build.make
build/CMakeFiles/clangformat.dir/cmake_clean.cmake
build/CMakeFiles/clangformat.dir/DependInfo.cmake
build/CMakeFiles/clangformat.dir/progress.make
build/Testing/Temporary/LastTest.log
build/_cmrc/include/cmrc/cmrc.hpp
build/examples/cmake_install.cmake
build/examples/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/CMakeFiles/progress.marks
build/examples/CMakeFiles/01_simple_struct.dir/build.make
build/examples/CMakeFiles/01_simple_struct.dir/cmake_clean.cmake
build/examples/CMakeFiles/01_simple_struct.dir/CXX.includecache
build/examples/CMakeFiles/01_simple_struct.dir/depend.internal
build/examples/CMakeFiles/01_simple_struct.dir/depend.make
build/examples/CMakeFiles/01_simple_struct.dir/DependInfo.cmake
build/examples/CMakeFiles/01_simple_struct.dir/flags.make
build/examples/CMakeFiles/01_simple_struct.dir/link.txt
build/examples/CMakeFiles/01_simple_struct.dir/progress.make
build/examples/CMakeFiles/02_alias.dir/build.make
build/examples/CMakeFiles/02_alias.dir/cmake_clean.cmake
build/examples/CMakeFiles/02_alias.dir/depend.make
build/examples/CMakeFiles/02_alias.dir/DependInfo.cmake
build/examples/CMakeFiles/02_alias.dir/flags.make
build/examples/CMakeFiles/02_alias.dir/link.txt
build/examples/CMakeFiles/02_alias.dir/progress.make
build/examples/CMakeFiles/03_optional_types.dir/build.make
build/examples/CMakeFiles/03_optional_types.dir/cmake_clean.cmake
build/examples/CMakeFiles/03_optional_types.dir/depend.make
build/examples/CMakeFiles/03_optional_types.dir/DependInfo.cmake
build/examples/CMakeFiles/03_optional_types.dir/flags.make
build/examples/CMakeFiles/03_optional_types.dir/link.txt
build/examples/CMakeFiles/03_optional_types.dir/progress.make
build/examples/CMakeFiles/04_subclasses.dir/build.make
build/examples/CMakeFiles/04_subclasses.dir/cmake_clean.cmake
build/examples/CMakeFiles/04_subclasses.dir/depend.make
build/examples/CMakeFiles/04_subclasses.dir/DependInfo.cmake
build/examples/CMakeFiles/04_subclasses.dir/flags.make
build/examples/CMakeFiles/04_subclasses.dir/link.txt
build/examples/CMakeFiles/04_subclasses.dir/progress.make
build/examples/CMakeFiles/05_enums.dir/build.make
build/examples/CMakeFiles/05_enums.dir/cmake_clean.cmake
build/examples/CMakeFiles/05_enums.dir/depend.make
build/examples/CMakeFiles/05_enums.dir/DependInfo.cmake
build/examples/CMakeFiles/05_enums.dir/flags.make
build/examples/CMakeFiles/05_enums.dir/link.txt
build/examples/CMakeFiles/05_enums.dir/progress.make
build/examples/CMakeFiles/06_stdtypes.dir/build.make
build/examples/CMakeFiles/06_stdtypes.dir/cmake_clean.cmake
build/examples/CMakeFiles/06_stdtypes.dir/depend.make
build/examples/CMakeFiles/06_stdtypes.dir/DependInfo.cmake
build/examples/CMakeFiles/06_stdtypes.dir/flags.make
build/examples/CMakeFiles/06_stdtypes.dir/link.txt
build/examples/CMakeFiles/06_stdtypes.dir/progress.make
build/examples/CMakeFiles/07_custom_types.dir/build.make
build/examples/CMakeFiles/07_custom_types.dir/cmake_clean.cmake
build/examples/CMakeFiles/07_custom_types.dir/depend.make
build/examples/CMakeFiles/07_custom_types.dir/DependInfo.cmake
build/examples/CMakeFiles/07_custom_types.dir/flags.make
build/examples/CMakeFiles/07_custom_types.dir/link.txt
build/examples/CMakeFiles/07_custom_types.dir/progress.make
build/examples/CMakeFiles/08_nested_types.dir/build.make
build/examples/CMakeFiles/08_nested_types.dir/cmake_clean.cmake
build/examples/CMakeFiles/08_nested_types.dir/depend.make
build/examples/CMakeFiles/08_nested_types.dir/DependInfo.cmake
build/examples/CMakeFiles/08_nested_types.dir/flags.make
build/examples/CMakeFiles/08_nested_types.dir/link.txt
build/examples/CMakeFiles/08_nested_types.dir/progress.make
build/examples/CMakeFiles/09_simple_tokenize.dir/build.make
build/examples/CMakeFiles/09_simple_tokenize.dir/cmake_clean.cmake
build/examples/CMakeFiles/09_simple_tokenize.dir/depend.make
build/examples/CMakeFiles/09_simple_tokenize.dir/DependInfo.cmake
build/examples/CMakeFiles/09_simple_tokenize.dir/flags.make
build/examples/CMakeFiles/09_simple_tokenize.dir/link.txt
build/examples/CMakeFiles/09_simple_tokenize.dir/progress.make
build/examples/CMakeFiles/10_calling_functions.dir/build.make
build/examples/CMakeFiles/10_calling_functions.dir/cmake_clean.cmake
build/examples/CMakeFiles/10_calling_functions.dir/depend.make
build/examples/CMakeFiles/10_calling_functions.dir/DependInfo.cmake
build/examples/CMakeFiles/10_calling_functions.dir/flags.make
build/examples/CMakeFiles/10_calling_functions.dir/link.txt
build/examples/CMakeFiles/10_calling_functions.dir/progress.make
build/examples/CMakeFiles/11_simple_diff.dir/build.make
build/examples/CMakeFiles/11_simple_diff.dir/cmake_clean.cmake
build/examples/CMakeFiles/11_simple_diff.dir/depend.make
build/examples/CMakeFiles/11_simple_diff.dir/DependInfo.cmake
build/examples/CMakeFiles/11_simple_diff.dir/flags.make
build/examples/CMakeFiles/11_simple_diff.dir/link.txt
build/examples/CMakeFiles/11_simple_diff.dir/progress.make
build/examples/CMakeFiles/12_diff_missing_data.dir/build.make
build/examples/CMakeFiles/12_diff_missing_data.dir/cmake_clean.cmake
build/examples/CMakeFiles/12_diff_missing_data.dir/depend.make
build/examples/CMakeFiles/12_diff_missing_data.dir/DependInfo.cmake
build/examples/CMakeFiles/12_diff_missing_data.dir/flags.make
build/examples/CMakeFiles/12_diff_missing_data.dir/link.txt
build/examples/CMakeFiles/12_diff_missing_data.dir/progress.make
build/examples/CMakeFiles/reformat.dir/build.make
build/examples/CMakeFiles/reformat.dir/cmake_clean.cmake
build/examples/CMakeFiles/reformat.dir/depend.make
build/examples/CMakeFiles/reformat.dir/DependInfo.cmake
build/examples/CMakeFiles/reformat.dir/flags.make
build/examples/CMakeFiles/reformat.dir/link.txt
build/examples/CMakeFiles/reformat.dir/progress.make
build/performance/cmake_install.cmake
build/performance/CTestTestfile.cmake
build/performance/CMakeFiles/CMakeDirectoryInformation.cmake
build/performance/CMakeFiles/progress.marks
build/performance/CMakeFiles/benchmark.dir/build.make
build/performance/CMakeFiles/benchmark.dir/cmake_clean.cmake
build/performance/CMakeFiles/benchmark.dir/depend.make
build/performance/CMakeFiles/benchmark.dir/DependInfo.cmake
build/performance/CMakeFiles/benchmark.dir/flags.make
build/performance/CMakeFiles/benchmark.dir/link.txt
build/performance/CMakeFiles/benchmark.dir/progress.make
build/performance/CMakeFiles/catch_main_benchmark.dir/build.make
build/performance/CMakeFiles/catch_main_benchmark.dir/cmake_clean_target.cmake
build/performance/CMakeFiles/catch_main_benchmark.dir/cmake_clean.cmake
build/performance/CMakeFiles/catch_main_benchmark.dir/depend.make
build/performance/CMakeFiles/catch_main_benchmark.dir/DependInfo.cmake
build/performance/CMakeFiles/catch_main_benchmark.dir/flags.make
build/performance/CMakeFiles/catch_main_benchmark.dir/link.txt
build/performance/CMakeFiles/catch_main_benchmark.dir/progress.make
build/tests/cmake_install.cmake
build/tests/CTestTestfile.cmake
build/tests/CMakeFiles/CMakeDirectoryInformation.cmake
build/tests/CMakeFiles/progress.marks
build/tests/CMakeFiles/catch_main.dir/build.make
build/tests/CMakeFiles/catch_main.dir/cmake_clean_target.cmake
build/tests/CMakeFiles/catch_main.dir/cmake_clean.cmake
build/tests/CMakeFiles/catch_main.dir/depend.make
build/tests/CMakeFiles/catch_main.dir/DependInfo.cmake
build/tests/CMakeFiles/catch_main.dir/flags.make
build/tests/CMakeFiles/catch_main.dir/link.txt
build/tests/CMakeFiles/catch_main.dir/progress.make
build/tests/CMakeFiles/clangformat_tests.dir/build.make
build/tests/CMakeFiles/clangformat_tests.dir/cmake_clean.cmake
build/tests/CMakeFiles/clangformat_tests.dir/DependInfo.cmake
build/tests/CMakeFiles/clangformat_tests.dir/progress.make
build/tests/CMakeFiles/external_json_resources.dir/build.make
build/tests/CMakeFiles/external_json_resources.dir/cmake_clean_target.cmake
build/tests/CMakeFiles/external_json_resources.dir/cmake_clean.cmake
build/tests/CMakeFiles/external_json_resources.dir/depend.make
build/tests/CMakeFiles/external_json_resources.dir/DependInfo.cmake
build/tests/CMakeFiles/external_json_resources.dir/flags.make
build/tests/CMakeFiles/external_json_resources.dir/link.txt
build/tests/CMakeFiles/external_json_resources.dir/progress.make
build/tests/CMakeFiles/unit-tests-cxx17.dir/build.make
build/tests/CMakeFiles/unit-tests-cxx17.dir/cmake_clean.cmake
build/tests/CMakeFiles/unit-tests-cxx17.dir/depend.make
build/tests/CMakeFiles/unit-tests-cxx17.dir/DependInfo.cmake
build/tests/CMakeFiles/unit-tests-cxx17.dir/flags.make
build/tests/CMakeFiles/unit-tests-cxx17.dir/link.txt
build/tests/CMakeFiles/unit-tests-cxx17.dir/progress.make
build/tests/CMakeFiles/unit-tests.dir/build.make
build/tests/CMakeFiles/unit-tests.dir/cmake_clean.cmake
build/tests/CMakeFiles/unit-tests.dir/cmake_pch.hxx
build/tests/CMakeFiles/unit-tests.dir/cmake_pch.hxx.cxx
build/tests/CMakeFiles/unit-tests.dir/depend.make
build/tests/CMakeFiles/unit-tests.dir/DependInfo.cmake
build/tests/CMakeFiles/unit-tests.dir/flags.make
build/tests/CMakeFiles/unit-tests.dir/link.txt
build/tests/CMakeFiles/unit-tests.dir/progress.make
build/tests/CMakeFiles/zero-value-test-fp-default.dir/build.make
build/tests/CMakeFiles/zero-value-test-fp-default.dir/cmake_clean.cmake
build/tests/CMakeFiles/zero-value-test-fp-default.dir/depend.make
build/tests/CMakeFiles/zero-value-test-fp-default.dir/DependInfo.cmake
build/tests/CMakeFiles/zero-value-test-fp-default.dir/flags.make
build/tests/CMakeFiles/zero-value-test-fp-default.dir/link.txt
build/tests/CMakeFiles/zero-value-test-fp-default.dir/progress.make
build/tests/CMakeFiles/zero-value-test-fp-fast.dir/build.make
build/tests/CMakeFiles/zero-value-test-fp-fast.dir/cmake_clean.cmake
build/tests/CMakeFiles/zero-value-test-fp-fast.dir/depend.make
build/tests/CMakeFiles/zero-value-test-fp-fast.dir/DependInfo.cmake
build/tests/CMakeFiles/zero-value-test-fp-fast.dir/flags.make
build/tests/CMakeFiles/zero-value-test-fp-fast.dir/link.txt
build/tests/CMakeFiles/zero-value-test-fp-fast.dir/progress.make
build/tests/__cmrc_external_json_resources/lib_.cpp
build/examples/01_simple_struct
build/examples/02_alias
build/examples/03_optional_types
build/examples/04_subclasses
build/examples/CMakeFiles/02_alias.dir/CXX.includecache
build/examples/CMakeFiles/02_alias.dir/depend.internal
build/examples/CMakeFiles/03_optional_types.dir/CXX.includecache
build/examples/CMakeFiles/03_optional_types.dir/depend.internal
build/examples/CMakeFiles/04_subclasses.dir/CXX.includecache
build/examples/CMakeFiles/04_subclasses.dir/depend.internal
build/tests/libcatch_main.a
build/tests/libexternal_json_resources.a
build/tests/unit-tests
build/tests/CMakeFiles/catch_main.dir/CXX.includecache
build/tests/CMakeFiles/catch_main.dir/depend.internal
build/tests/CMakeFiles/external_json_resources.dir/CXX.includecache
build/tests/CMakeFiles/external_json_resources.dir/depend.internal
build/tests/CMakeFiles/unit-tests.dir/cmake_pch.hxx.pch
build/tests/CMakeFiles/unit-tests.dir/CXX.includecache
build/tests/CMakeFiles/unit-tests.dir/depend.internal
build/tests/__cmrc_external_json_resources/lib.cpp
build/tests/__cmrc_external_json_resources/intermediate/generated.json.cpp
